<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<title>APECS Systems</title>
    <link rel="stylesheet" href="{{url_for('static',filename='err.css')}}">
<body>

<div id="main">
    <div class="fof">
        <h1>{{toast}}</h1>
        <br>
        <h2>{{message}}</h2>
        <p></p>
        <p></p>
        <a href="http://127.0.0.1:5000/register">SignUp</a>
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
 <p>Powered by APECS</p>
</footer>
</body>
</html>